name: Check pyFFTW without fftw (Install pyfftw from Conda)
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'  # 2pm UTC == 9am EST
jobs:
  check_pyfftw:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
  
    steps:
      - name: Checkout STUMPY
        uses: actions/checkout@v4
        with:
          repository: NimaSarajpoor/stumpy
          ref: add_pyfftw_sdp_tmp

      - name: Get Required Python Version
        id: python
        run: |
          python -m pip install pandas packaging lxml
          echo "version=$(python ./versions.py -pkg pyfftw)" >> $GITHUB_OUTPUT
        shell: bash

      # Checkout python version
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ steps.python.outputs.version }}"

      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"
        shell: bash

      - name: Set Up Pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2

      - name: Set Up Python
        run: pixi add python="${{ steps.python.outputs.version }}"
        shell: bash

      - name: Display platform info
        run: uname -a
        shell: bash

      - name: Install pyFFTW
        run: pixi add pyfftw -vvv
        shell: bash

      - name: Display Python Version
        run: pixi run python -c "import sys; print(sys.version)"
        shell: bash

      - name: Check fftw version
        run: pixi run python -c "import pyfftw; print(pyfftw.fftw_version)"
        shell: bash

      - name: fftw compile
        run: pixi run python -c "import pyfftw; print(pyfftw.fftw_cc)"
        shell: bash
      

      - name: Show Installed Packages FFTW and/or pyFFTW
        run: pixi list | grep -E 'fftw|pyfftw'
        shell: bash

      - name: Install STUMPY and Run Unit Tests
        run: pixi run bash ./test.sh custom 5 tests/test_sdp.py
        shell: bash
